storageProperties:
  location: knowledges
telegramProperties:
  botName: test-bot
  token:
  countToShow: 2
  discussionChannel:
  menu:
    message: 'Категории'
    publishHeaderMessage: 'Меню публикации'
    helpMessageText: |
      Приветствую! 👀

      Я бот 🧐, который поможет тебе найти все или поделиться своим знаниями о нашей компании или твоей производственной деятельности.
      Тут ты можешь найти любую информацию по интересующему тебя разделу. Просто отправь /menu, выбери категорию, которая нужна и выбери интересующий пост.
      Не забудь нажать ♥, если пост тебе понравился.

      Если ты не знаешь, какой раздел тебе нужен - напиши ключевое слово, к примеру _fiddler_, и выбери подходящий тебе пост, если их найдется несколько 😎.
      Можно так же указать несколько ключевых слов или хэштегов: #отпуск #sickday

      Каждый пост ты можешь комментировать 💭, если предварительно пройдешь по ссылке-приглашению.

      Если у тебя появилась полезная информация, которой ты хочешь поделится с коллегами, то жми кнопку Menu и выбирай команду /publish. Пока я тебе могу предложить только существующую категорию, но мои создатели работают над тем, чтобы ты мог предложить свою.
      После выбора категории появится подсказка о том, что ты можешь написать свой пост.
      Не переживай, если после публикации, ты нашел ошибку в своем сообщении. Нажми ✏️ и отправь снова скорректированный пост.

      Я тебе очень благодарен за то, что могу принести тебе пользу.
      Удачи, у тебя все получится! 🥂
    categories:
      - name: Административка
        categories:
          - name: 'Регламенты'
            sort: BY_LIKES
          - name: 'Сотрудники'
            sort: BY_LIKES
          - name: 'Офисы'
            sort: BY_LIKES
          - name: 'Памятки'
            sort: BY_TIME
          - name: 'О компании'
            sort: BY_LIKES
      - name: Аналитика
        categories:
          - name: Для изучения
            sort: BY_LIKES
          - name: Инструкции
            sort: BY_LIKES
          - name: Митапы
            sort: BY_LIKES
      - name: BE DEV
        categories:
          - name: How to
            sort: BY_LIKES
          - name: Библиотека
            sort: BY_LIKES
          - name: Обучение
            sort: BY_LIKES
      - name: Web DEV
        sort: BY_LIKES
      - name: Mobile DEV
        sort: BY_LIKES
      - name: Life
        categories:
          - name: Team Challenge
            sort: BY_LIKES
          - name: Наши дети
            sort: BY_LIKES
          - name: Прямые линии
            sort: BY_LIKES
      - name: FAQ
        sort: BY_LIKES