storageProperties:
  location: knowledges
telegramProperties:
  botName: test-bot
  token:
  countToShow: 2
  menu:
    message: 'Категории'
    categories:
      - name: Административка
        categories:
          - name: 'Регламенты'
            sort: BY_LIKES
          - name: 'Сотрудники'
            sort: BY_LIKES
          - name: 'Офисы'
            sort: BY_LIKES
          - name: 'Памятки'
            sort: BY_TIME
          - name: 'О компании'
            sort: BY_LIKES
      - name: Аналитика
        categories:
          - name: Для изучения
            sort: BY_LIKES
          - name: Инструкции
            sort: BY_LIKES
          - name: Митапы
            sort: BY_LIKES
      - name: BE DEV
        categories:
          - name: How to
            sort: BY_LIKES
          - name: Библиотека
            sort: BY_LIKES
          - name: Обучение
            sort: BY_LIKES
      - name: Web DEV
        sort: BY_LIKES
      - name: Mobile DEV
        sort: BY_LIKES
      - name: Life
        categories:
          - name: Team Challenge
            sort: BY_LIKES
          - name: Наши дети
            sort: BY_LIKES
          - name: Прямые линии
            sort: BY_LIKES
      - name: FAQ
        sort: BY_LIKES